---
import CardWork from "./CardWork.astro";
---

<div class="flex flex-col gap-6">
  <div class="flex flex-col w-full items-center">
    <CardWork
      url="/images/work-1.png"
      title="Mamparas esmeralda"
      jobTitle="Freelancer"
      description="Encargado del diseño y desarrollo del sitio web para Mamparas Esmeralda, donde lideré la planificación del proyecto y realicé el diseño personalizado del sitio. "
      details={["Diseño UX/UI", "Desarrollo Frontend"]}
      tecnologies={["Astro", "Figma", "Typescript", "Tailwind"]}
    />
  </div>
  <a
    href=""
    class="py-2 px-4 relative text-center text-bg bg-secondary font-bold rounded-2xl"
    >Ver mas trabajos
  </a>
</div>
