---
import CardWork from "./CardWork.astro";
---

<div class="flex flex-col w-full">
  <CardWork
    url="/images/work-1.png"
    title="Mamparas esmeralda"
    jobTitle="Freelancer"
    description="Encargado del diseño y desarrollo del sitio web para Mamparas Esmeralda, donde lideré la planificación del proyecto y realicé el diseño personalizado del sitio. "
    details={["Diseño UX/UI", "Desarrollo Frontend"]}
    tecnologies={["Astro", "Figma", "Typescript", "Tailwind"]}
  />
</div>
