---
import IconWork from "@components/icons/IconWork.astro";
import ContainerSection from "@components/ui/ContainerSection.astro";
import IconGithub from "@components/icons/IconGithub.astro";
import IconLinkedin from "@components/icons/IconLinkedin.astro";
import HeroIcon from "./HeroIcon.astro";
import CardHero from "./CardHero.astro";
import ListOfHabilities from "./ListOfHabilities.astro";
import ListOfTechnologies from "./ListOfTechnologies.astro";
---

<ContainerSection className="py-0">
  <div class="w-full flex min-h-screen">
    <div class="w-1/2 min-h-screen flex flex-col gap-10 justify-center">
      <div class="flex flex-col gap-4">
        <p class="text-zinc-400">
          Llevando tus proyectos web al siguiente nivel
        </p>
        <div class="flex flex-col gap-3">
          <h1 class="text-white text-5xl font-bold">
            Desarrollador Frontend <span class="text-primary">React</span> & <span
              class="text-primary">Typescript</span
            >
          </h1>
          <h2 class="text-gray text-lg">
            !Hola! Soy Juan. Diseño y programo experiencias web simples,
            funcionales y hermosas.
          </h2>
        </div>
      </div>
      <div class="flex gap-3">
        <a
          href="/work"
          class="bg-secondary text-bg font-bold py-2 px-4 rounded-2xl flex gap-2 items-center"
        >
          <IconWork />
          <span>Trabajos</span>
        </a>
        <a
          href="/about"
          class="border-[1px] border-white text-white font-bold py-2 px-4 rounded-2xl"
          >Sobre mi</a
        >
      </div>
    </div>
    <div class="w-1/2 min-h-screen flex justify-center items-center">
      <div class="relative">
        <!-- Card habilidades -->
        <CardHero className="-top-1/3 -left-[40%]" title="Habilidades">
          <ListOfHabilities />
        </CardHero>

        <!-- Card Github -->
        <HeroIcon className="-top-[15%] -right-[15%]">
          <IconGithub width="35" height="35" />
        </HeroIcon>

        <img
          class="rounded-2xl w-60 h-52 object-cover"
          src="/images/foto-hero.png"
          alt=""
        />

        <!-- Card Linkedin -->
        <HeroIcon className=" -bottom-[15%] -left-[15%] ">
          <IconLinkedin width="35" height="35" />
        </HeroIcon>

        <!-- Card Tecnologicas -->
        <CardHero
          className="-bottom-1/3 -right-1/2"
          title="Mis tecnologias preferidas"
        >
          <ListOfTechnologies />
        </CardHero>
      </div>
    </div>
  </div>
</ContainerSection>
