---
import IconAstro from "src/icons/IconAstro.astro";
import IconReact from "src/icons/IconReact.astro";
import IconTypescript from "src/icons/IconTypescript.astro";
---

<ul class="text-gray text-sm">
  <li class="flex gap-2 items-center">
    <IconTypescript />
    <span>Typescript</span>
  </li>
  <li class="flex gap-2 items-center">
    <IconReact />
    <span>React</span>
  </li>
  <li class="flex gap-2 items-center">
    <IconAstro />
    <span>Astro</span>
  </li>
</ul>
