---
import IconCheck from "src/icons/IconCheck.astro";
---

<ul class="text-gray text-sm">
  <li class="flex gap-2 items-center">
    <IconCheck className="fill-secondary" /><span>Diseño UX/UI</span>
  </li>
  <li class="flex gap-2 items-center">
    <IconCheck className="fill-secondary" /><span>Desarrollo Frontend</span>
  </li>
  <li class="flex gap-2 items-center">
    <IconCheck className="fill-secondary" /><span>Resolucion de problemas</span>
  </li>
</ul>
