---
import IconCheck from "@/components/icons/IconCheck.astro";
---

<ul class="text-background  text-sm">
  <li class="flex gap-1 items-center">
    <IconCheck className="fill-secondary" /><span>Diseño UX/UI</span>
  </li>
  <li class="flex gap-1 items-center">
    <IconCheck className="fill-secondary" /><span>Desarrollo Frontend</span>
  </li>
  <li class="flex gap-1 items-center">
    <IconCheck className="fill-secondary" /><span>Resolución de problemas</span>
  </li>
</ul>
