---
import IconRowRigth from "@/components/icons/IconRowRigth.astro";
import IconCalendar from "@/components/icons/IconCalendar.astro";
import Circle from "@/components/ui/Circle.astro";

interface Props {
  title: string;
  date: string;
  description: string;
  jobTitle: string;
}

const { title, date, description, jobTitle } = Astro.props;
---

<div class="relative -left-[9px] flex gap-2">
  <Circle />
  <div class="flex flex-col lg:flex-row gap-10">
    <div class="flex flex-col lg:w-1/3">
      <h3 class="text-secondary text-2xl font-bold text-left">
        {title}
      </h3>
      <p class="text-white/90 italic mt-2">{jobTitle}</p>
      <div class="flex gap-2 text-xs text-zinc-400 mt-2">
        <IconCalendar className="fill-zinc-400" />
        <span>{date}</span>
      </div>
    </div>
    <div class="flex flex-col gap-3 flex-1">
      <p class="text-foreground-secondary">
        {description}
      </p>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/juan-peñalba-0025b6246/"
        class="text-primary font-bold flex items-center"
      >
        <span>Saber más</span>
        <IconRowRigth />
      </a>
    </div>
  </div>
</div>
