---
import IconLogo from "@components/icons/IconLogo.astro";
---

<header
  class="z-50 px-1 py-1 text-white flex w-full max-w-4xl justify-between items-center top-3 bg-gray-bg rounded-2xl fixed filter backdrop-blur-2xl"
>
  <a href="/" class="ml-4 cursor-pointer">
    <IconLogo />
  </a>
  <nav class="absolute left-1/2 -translate-x-1/2">
    <ul class="flex gap-4">
      <li><a href="/work">Trabajos</a></li>
      <li><a href="/about">Proyectos</a></li>
      <li><a href="/about">Sobre mi</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
  <a
    class="border-[1px] border-white text-white font-bold py-2 px-4 rounded-2xl"
    href="/contact">Contacto</a
  >
</header>
