---
import ContainerPage from "@components/ui/ContainerPage.astro";
import Header from "./Header.astro";
import "@styles/globals.css";
import "@fontsource-variable/baloo-paaji-2";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <title>Juan Peñalba</title>
  </head>
  <body>
    <ContainerPage>
      <Header />
      <slot />
    </ContainerPage>
  </body>
</html>

<style is:global>
  body {
    font-family: "Baloo Paaji 2 Variable", system-ui;
  }
</style>
