---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import ProjectList from "../components/ProjectList.astro";
---

<Layout title="Mi portafolio">
  <section class="flex items-center m-auto justify-center mt-7 relative">
    <img src="/images/juan.png" class="rounded-b-full w-96 aspect-square" />
    <div>
      <h1 class="text-6xl font-bold">Juan Peñalba</h1>
      <h2 class="text-xl font-semibold dark:text-zinc-200 text-zinc-600">
        Desarrollador FrontEnd
      </h2>
    </div>
  </section>
  <Main />
</Layout>

<style>
  h1 {
    background: linear-gradient(89.81deg, #ff8f33, #ced63d, #ff65d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-size: 300%;
    animation: gradient 10s ease infinite;
    line-height: 1.2;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
