---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import TechnologiesList from "../components/TechnologiesList.astro";
import { AnimationMove } from "../components/React/AnimationMove";
import TimeLine from "../components/TimeLine.astro";
import ProjectList from "../components/ProjectList.astro";
import SocialList from "../components/SocialList.astro";
import RightRow from "../components/Icons/RightRow.astro";
---

<Layout title="Mi portafolio">
  <section
    class="flex-col sm:flex gap-5 relative min-h-screen pointer-events-none z-20 overflow-hidden bg"
  >
    <Main className="flex flex-col justify-center  items-center min-h-screen">
      <div class="flex flex-col justify-center w-full">
        <div class="overflow-y-hidden">
          <AnimationMove
            client:visible
            initial={{ y: "100%" }}
            duration={1.3}
            viewport={true}
          >
            <h1
              class="text-rainbow text-4xl sm:text-6xl md:text-8xl uppercase text-zinc-95 font-bold"
            >
              DESARROLLADOR FRONTEND
            </h1>
          </AnimationMove>
        </div>
        <AnimationMove
          client:visible
          initial={{ x: "-100%" }}
          duration={1.2}
          delay={0.3}
          viewport={true}
          className="flex items-center text-xs sm:text-sm md:text-base text-stone-300 uppercase mt-5"
        >
          <RightRow /> Creador de experiencias web con React
        </AnimationMove>
      </div>

      <div class="overflow-hidden w-full">
        <AnimationMove
          client:visible
          initial={{ opacity: 0, x: "-100%" }}
          duration={0.5}
          delay={1}
          ease="easeOut"
          viewport={true}
          className="relative w-full flex flex-col sm:flex-row sm:justify-between sm:items-end"
        >
          <img
            class="h-[40vh] w-full sm:w-56 sm:h-56 mt-8 object-cover rounded-lg grayscale"
            src="/images/juan.jpg"
          />
          <SocialList />
        </AnimationMove>
      </div>
    </Main>

    <Main className="my-20 z-50">
      <h2 class="text-2xl text-white mb-5 font-bold">EXPERIENCIA</h2>
      <TimeLine />

      <h2 class="text-2xl text-white mb-5 font-bold mt-20">PROYECTOS</h2>
      <ProjectList />
    </Main>
  </section>

  <section class="min-h-screen flex justify-center items-center">
    <Main>
      <AnimationMove
        client:visible
        ease="easeInOut"
        initial={{ opacity: 0 }}
        duration={1.4}
        viewport={true}
        className="text-2xl flex flex-col gap-5 md:text-4xl text-stone-600  font-medium"
      >
        <p>
          Mi curiosidad por los videojuegos y mi pasión por el diseño me llevo a
          estudiar desarrollo web de forma autodidacta desde hace mas de 3 años<span
            class="text-rainbow">.</span
          >
        </p>
        <p>
          Disfruto trabajando en equipo y siempre estoy dispuesto a aprender
          cosas nuevas<span class="text-rainbow">.</span>
        </p>
      </AnimationMove>
    </Main>
  </section>
  <TechnologiesList />
</Layout>
