---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import TechnologiesList from "../components/TechnologiesList.astro";
import { AnimationMove } from "../components/React/AnimationMove";
import TimeLine from "../components/TimeLine.astro";
import ProjectList from "../components/ProjectList.astro";
import SocialList from "../components/SocialList.astro";
import RightRow from "../components/Icons/RightRow.astro";
import Footer from "../components/Footer.astro";
import H2 from "../components/H2.astro";
---

<Layout title="Mi portafolio">
  <section
    class="flex-col sm:flex gap-5 relative min-h-screen z-20 overflow-hidden bg-gradient bg-dotted"
  >
    <Main className="flex flex-col justify-center  items-center min-h-screen">
      <div class="flex flex-col justify-center w-full">
        <div class="overflow-y-hidden">
          <AnimationMove
            client:visible
            initial={{ y: "100%" }}
            duration={1.3}
            viewport={true}
          >
            <h1
              class="text-rainbow max-w-sm text-4xl sm:text-5xl md:text-6xl md:max-w-xl xl:text-8xl uppercase font-bold sm:max-w-2xl xl:max-w-none"
            >
              DESARROLLADOR FRONTEND
            </h1>
          </AnimationMove>
        </div>
        <AnimationMove
          client:visible
          initial={{ x: "-100%" }}
          duration={1.2}
          delay={0.3}
          viewport={true}
          className="flex items-center text-xs sm:text-sm md:text-base text-stone-300 uppercase mt-5"
        >
          <RightRow /> Creador de experiencias web con React
        </AnimationMove>
      </div>

      <div class="overflow-hidden w-full">
        <AnimationMove
          client:visible
          initial={{ opacity: 0, x: "-100%" }}
          duration={0.5}
          delay={1}
          ease="easeOut"
          viewport={true}
          className="relative w-full flex flex-col sm:flex-row sm:justify-between sm:items-end "
        >
          <img
            class="h-[40vh] w-full min-[450px]:w-56 min-[450px]:h-56 mt-8 object-cover rounded-lg grayscale"
            src="/images/juan.jpg"
          />
          <SocialList />
        </AnimationMove>
      </div>
    </Main>

    <Main className="my-20 z-50">
      <section>
        <H2 title="EXPERIENCIA" />
        <TimeLine />
      </section>
      <section class="mt-20">
        <H2 title="PROYECTOS" />
        <ProjectList />
      </section>
      <section class="mt-20">
        <H2 title="TECNOLOGIAS" />

        <TechnologiesList />
      </section>
    </Main>
    <Footer />
  </section>
</Layout>
