---
import IconRowRigth from "./Icons/IconRowRigth.astro";

interface Props {
  className?: string;
  id: string;
}
const { className = "", id } = Astro.props;
---

<div
  id={id}
  class={`${className} p-2 bg-gray-bg rounded-2xl border-[1px] border-gray`}
>
  <IconRowRigth className="fill-gray" />
</div>
