---
import ContainerSection from "./ContainerSection.astro";
import IconExperience from "./Icons/IconExperience.astro";
import SectionTitle from "./SectionTitle.astro";
import CardExperience from "./CardExperience.astro";
---

<ContainerSection>
  <SectionTitle text="Mi experiencia">
    <IconExperience />
  </SectionTitle>
  <div
    class="border-l-[1px] border-[#78eb26af] py-12 mt-10 flex flex-col gap-10"
  >
    <CardExperience
      title="Desarrollador Frontend"
      jobTitle="Freelancer"
      date="Actualmente..."
      description="Actualmente, me dedico a desarrollar sitios web que combinan diseño moderno y funcionalidad, ayudando a negocios a destacar en el entorno digital. Una de mis experiencias más destacadas fue la creación de un sitio web para una vidriería que buscaba presencia en línea. Diseñé la página en Figma, asegurando una experiencia visual atractiva y profesional, y desarrollé el proyecto utilizando Astro, optimizando el rendimiento y la experiencia del usuario."
    />
    <CardExperience
      title="Prácticas Profesionales en Programación"
      jobTitle="ESCUELA TECNICA Nº2 ING. FELIPE SENILLOSA"
      date="Marzo 2020 - Diciembre 2023"
      description="Durante el último año de mi tecnicatura en programación, tuve la oportunidad de participar en proyectos destacados que fortalecieron mis habilidades técnicas y mi capacidad de trabajo en equipo."
    />
  </div>
</ContainerSection>
