---
import { ButtonTheme } from "./ButtonTheme.jsx";
---

<header class="px-8 py-10 flex justify-between items-center">
  <a class="text-3xl dark:text-white font-bold dark:font-semibold font-outfit"
    >JP<span class="text-orange-800 dark:text-orange-400">.</span></a
  >
  <nav>
    <ul class="flex items-center gap-4">
      <li><a class="text-lg font-semibold dark:text-white">Sobre mi</a></li>
      <li><a class="text-lg font-semibold dark:text-white">Proyectos</a></li>
      <li class="ml-6"><ButtonTheme client:visible /></li>
    </ul>
  </nav>
</header>
