---
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<div
  class=`${className} p-7 bg-[#d8d8d896] filter backdrop-blur-lg border-[1px] border-[#ffffff5e] absolute  rounded-full`
>
  <slot />
</div>
