---
import ContainerSection from "./ContainerSection.astro";
import IconWork from "./Icons/IconWork.astro";
import IconCheck from "./Icons/IconCheck.astro";
import IconGithub from "./Icons/IconGithub.astro";
import IconLinkedin from "./Icons/IconLinkedin.astro";
import IconTypescript from "./Icons/IconTypescript.astro";
import IconAstro from "./Icons/IconAstro.astro";
import IconReact from "./Icons/IconReact.astro";
import HeroIcon from "./HeroIcon.astro";
---

<ContainerSection>
  <div class="w-full flex min-h-screen">
    <div class="w-1/2 min-h-screen flex flex-col gap-10 justify-center">
      <div class="flex flex-col gap-4">
        <p class="text-zinc-400">
          Llevando tus proyectos web al siguiente nivel
        </p>
        <div class="flex flex-col gap-3">
          <h1 class="text-white text-5xl font-bold">
            Desarrollador Frontend <span class="text-primary">React</span> & <span
              class="text-primary">Typescript</span
            >
          </h1>
          <h2 class="text-gray text-lg">
            !Hola! Soy Juan. Diseño y programo experiencias web simples,
            funcionales y hermosas.
          </h2>
        </div>
      </div>
      <div class="flex gap-3">
        <a
          href="/work"
          class="bg-secondary text-bg font-bold py-2 px-4 rounded-2xl flex gap-2 items-center"
        >
          <IconWork />
          <span>Trabajos</span>
        </a>
        <a
          href="/about"
          class="border-[1px] border-white text-white font-bold py-2 px-4 rounded-2xl"
          >Sobre mi</a
        >
      </div>
    </div>
    <div class="w-1/2 min-h-screen flex justify-center items-center">
      <div class="relative">
        <!-- Card habilidades -->

        <div class="p-3 bg-primary absolute -top-1/3 -left-[40%] rounded-2xl">
          <h3 class="text-white font-bold">Habilidades</h3>
          <ul class="text-gray text-sm">
            <li class="flex gap-2 items-center">
              <IconCheck className="fill-secondary" /><span>Diseño UX/UI</span>
            </li>
            <li class="flex gap-2 items-center">
              <IconCheck className="fill-secondary" /><span
                >Desarrollo Frontend</span
              >
            </li>
            <li class="flex gap-2 items-center">
              <IconCheck className="fill-secondary" /><span
                >Resolucion de problemas</span
              >
            </li>
          </ul>
        </div>
        <!-- Card Github -->
        <HeroIcon className="-top-[15%] -right-[15%]">
          <IconGithub width="35" height="35" />
        </HeroIcon>
        <img
          class="rounded-2xl w-60 h-52 object-cover"
          src="/images/foto-hero.png"
          alt=""
        />
        <!-- Card Linkedin -->
        <HeroIcon className=" -bottom-[15%] -left-[15%] ">
          <IconLinkedin width="35" height="35" />
        </HeroIcon>

        <!-- Card Tecnologicas -->
        <div class="p-3 bg-primary absolute -bottom-1/3 -right-1/2 rounded-2xl">
          <h3 class="text-white font-bold">Mis tecnologias favoritas</h3>
          <ul class="text-gray text-sm">
            <li class="flex gap-2 items-center">
              <IconTypescript />
              <span>Typescript</span>
            </li>
            <li class="flex gap-2 items-center">
              <IconReact />
              <span>React</span>
            </li>
            <li class="flex gap-2 items-center">
              <IconAstro />
              <span>Astro</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ContainerSection>
