---
import CardExperience from "./CardExperience.astro";
---

<div class="border-l-[1px] border-[#78eb26af] py-12 flex flex-col gap-10">
  <CardExperience
    title="Desarrollador Frontend"
    jobTitle="FREELANCER"
    date="Actualmente..."
    description="Actualmente, me dedico a desarrollar sitios web que combinan diseño moderno y funcionalidad, ayudando a negocios a destacar en el entorno digital. Una de mis experiencias más destacadas fue la creación de un sitio web para una vidriería que buscaba presencia en línea. "
  />
  <CardExperience
    title="Prácticas Profesionales en Programación"
    jobTitle="ESCUELA TECNICA Nº2 ING. FELIPE SENILLOSA"
    date="Marzo 2020 - Diciembre 2023"
    description="Durante el último año de mi tecnicatura en programación, tuve la oportunidad de participar en proyectos destacados que fortalecieron mis habilidades técnicas y mi capacidad de trabajo en equipo."
  />
</div>
