---
import Project from "./Project.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<div class="grid gap-y-10 mb-24 justify-center items-center max-w-3xl z-50">
  {
    projects.map((project, index) => (
      <Project project={project} index={index} />
    ))
  }
</div>
