---
import Typescript from "../components/Icons/Typescript.astro";
import Tailwind from "../components/Icons/Tailwind.astro";
import CSS from "../components/Icons/CSS.astro";
import HTML from "../components/Icons/HTML.astro";
import React from "../components/Icons/React.astro";
import Javascript from "../components/Icons/Javascript.astro";
---

<ul class="grid grid-cols-2 gap-4 w-fit">
  <li>
    <Javascript className="w-14 h-14" />
  </li>
  <li>
    <HTML className="w-14 h-14" />
  </li>
  <li>
    <CSS className="w-14 h-14" />
  </li>
  <li>
    <React className="w-14 h-14" />
  </li>
  <li>
    <Tailwind className="w-14 h-14" />
  </li>
  <li>
    <Typescript className="w-14 h-14" />
  </li>
</ul>
