---
import Input from "./Input.astro";
---

<form
  action="https://formsubmit.co/juantandil123@gmail.com"
  method="POST"
  class="flex flex-col gap-4 max-w-lg mx-auto relative p-10 border border-[#fff1] bg-gray-bg rounded-2xl"
>
  <h2 class="text-gray text-2xl text-center font-bold mb-5">
    Enviame un mensaje
  </h2>
  <div
    class="w-96 h-96 bg-gradient-to-r -top-1/2 from-primary to-secondary opacity-15 blur-3xl absolute left-1/2 transform -translate-x-1/2 rounded-full -z-10"
  >
  </div>
  <input
    type="hidden"
    name="_next"
    value="https://juanpenalba.vercel.app/#contact"
  />
  <input
    type="hidden"
    name="_autoresponse"
    value="Gracias por tu mensaje, el mail fue enviado correctamente :)"
  />
  <input type="hidden" name="_template" value="table" />
  <Input name="name" type="text" placeholder="Ingresa tu nombre" />
  <Input name="email" type="email" placeholder="Ingresa tu correo" />
  <textarea
    name="message"
    placeholder="Mensaje"
    class="text-white border border-[#fff1] min-h-40 bg-gray-bg rounded-2xl py-2 px-4 focus:outline-none focus:ring-2 focus:ring-zinc-600"
  ></textarea>
  <button
    type="submit"
    class="bg-secondary text-center font-bold text-bg py-2 px-4 rounded-2xl mt-3 hover:scale-105 transition-[0.3s]"
    >Enviar</button
  >
</form>
