---
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = async () => {
  const projects = await getCollection("projects");

  const paths = projects.map((project, index) => {
    return {
      params: {
        slug: project.slug,
      },
      props: {
        project,
        index,
      },
    };
  });

  return paths;
};

type Props = {
  project: CollectionEntry<"projects">;
  index: number;
};

const { project, index } = Astro.props;
---

<Layout title="">
  <Main>
    <section class="flex mt-7">
      <div>
        <img
          class="aspect-square object-cover rounded-lg w-96"
          src={project.data.image}
          alt={project.data.title}
          transition:name={`image-${index}`}
        />
      </div>
      <div class="ml-7">
        <h1 class="text-4xl">{project.data.title}</h1>
        <p>React - Sass - Firebase</p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis
          placeat fuga culpa rem? Sunt vero ducimus esse veniam maiores beatae,
          nobis repudiandae iure! Animi nihil assumenda vel! Fugiat,
          exercitationem vitae?
        </p>
      </div>
    </section>
  </Main>
</Layout>
