---
import IconGithub from "src/icons/IconGithub.astro";
import IconLinkedin from "src/icons/IconLinkedin.astro";
import IconWhatsapp from "src/icons/IconWhatsapp.astro";
---

<footer
  class="flex gap-2 items-center justify-center bg-gray-bg p-4 rounded-2xl mb-4"
>
  <div class="flex gap-2 items-center justify-between w-full">
    <p class="text-gray text-sm sm:text-base">
      Derechos reservados <span class="text-secondary text-bold"
        >Juan Peñalba</span
      > &copy; {new Date().getFullYear()}
    </p>
    <div class="flex gap-2">
      <a
        aria-label="Ir a whatsapp"
        href="https://wa.me/542494367662"
        target="_blank"
        class="cursor-pointer hover:scale-105 transition-[0.3s]"
      >
        <IconWhatsapp />
      </a>
      <a
        aria-label="Ir a github"
        href="https://github.com/JuanPe44"
        target="_blank"
        class="cursor-pointer hover:scale-105 transition-[0.3s]"
      >
        <IconGithub className="fill-white" width="30" height="30" />
      </a>
      <a
        aria-label="Ir a linkedin"
        href="https://www.linkedin.com/in/JuanPe44/"
        target="_blank"
        class="cursor-pointer hover:scale-105 transition-[0.3s]"
      >
        <IconLinkedin className="fill-white" width="30" height="30" />
      </a>
    </div>
  </div>
</footer>
