---
import IconLogo from "src/icons/IconLogo.astro";
import IconMenu from "src/icons/IconMenu.astro";
import IconCross from "src/icons/IconCross.astro";
import NavLink from "@components/ui/NavLink.astro";
---

<header
  class="z-[200] text-white flex w-full max-w-4xl 2xl:max-w-6xl left-1/2 -translate-x-1/2 top-3 fixed"
>
  <div
    class="w-full relative mx-4 sm:mx-10 md:mx-12 lg:mx-0 px-3 py-3 sm:py-2 bg-gray-bg rounded-2xl filter backdrop-blur-2xl"
  >
    <div class="flex flex-col">
      <div class="flex justify-between items-center">
        <a href="/#hero" class="cursor-pointer">
          <IconLogo />
        </a>

        <nav class="hidden sm:flex absolute left-1/2 -translate-x-1/2">
          <ul class="flex gap-4">
            <li><NavLink href="/#experience" text="Experiencia" /></li>
            <li><NavLink href="/#works" text="Trabajos" /></li>
            <li><NavLink href="/#projects" text="Proyectos" /></li>
            <li><NavLink href="/#about" text="Sobre mi" /></li>
            <!--
      <li><a href="/#blog">Blog</a></li>
       -->
          </ul>
        </nav>

        <div class="flex">
          <a
            class="hidden sm:flex border border-white text-white font-bold py-2 px-4 rounded-2xl hover:bg-secondary hover:text-bg transition-[0.3s] hover:border-bg hover:scale-105"
            href="/#contact">Contacto</a
          >
          <IconMenu
            className="stroke-white sm:hidden z-50 cursor-pointer"
            width="25"
            height="25"
            id="menu-mobile"
          />
          <IconCross
            width="25"
            height="25"
            className="sm:hidden fill-secondary hidden cursor-pointer"
            id="menu-close"
          />
        </div>
      </div>

      <nav
        id="nav-mobile"
        class="relative sm:hidden h-0 overflow-hidden max-w-4xl top-0 transition-[3s] flex flex-col right-0 w-full"
      >
        <ul
          class="flex flex-col items-center py-10 gap-3 text-xl uppercase text-white font-bold"
        >
          <li><a href="/#experience">Experiencia</a></li>
          <li><a href="/#works">Trabajos</a></li>
          <li><a href="/#projects">Proyectos</a></li>
          <li><a href="/#about">Sobre mi</a></li>
          <!--
          <li><a href="/#blog">Blog</a></li>
         -->
          <li><a href="/#contact">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  const menuMobile = document.getElementById("menu-mobile");
  const menuClose = document.getElementById("menu-close");
  const nav = document.getElementById("nav-mobile");
  menuMobile?.addEventListener("click", () => {
    menuClose?.classList.remove("hidden");
    menuMobile?.classList.add("hidden");
    nav?.classList.toggle("h-0");
    nav?.classList.toggle("px-4");
    nav?.classList.toggle("py-3");
  });
  menuClose?.addEventListener("click", () => {
    menuMobile?.classList.remove("hidden");
    menuClose?.classList.add("hidden");
    nav?.classList.toggle("h-0");
    nav?.classList.toggle("px-4");
    nav?.classList.toggle("py-3");
  });

  document.querySelectorAll("#nav-mobile a").forEach((link) => {
    link.addEventListener("click", () => {
      menuMobile?.classList.remove("hidden");
      menuClose?.classList.add("hidden");
      nav?.classList.toggle("h-0");
      nav?.classList.toggle("px-4");
      nav?.classList.toggle("py-3");
    });
  });
</script>
