---
import ContainerPage from "@components/ui/ContainerPage.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "@styles/globals.css";
import "@fontsource-variable/baloo-paaji-2";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Portafolio de Juan Peñalba" />
    <link rel="icon" type="image/webp" href="/images/logo.webp" />
    <title>Juan Peñalba</title>
  </head>
  <body>
    <ContainerPage>
      <Header />
      <slot />
      <Footer />
    </ContainerPage>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Baloo Paaji 2 Variable", system-ui;
  }
</style>
