<div id="board" class="min-h-80 min-w-80">
  <div
    id="contenedor-jugar"
    class="absolute top-0 w-full h-full z-[100] flex justify-center items-center bg-[#0002]"
  >
    <button
      id="jugar"
      class="px-8 rounded-2xl py-2 bg-primary text-white/90 text-xl  cursor-pointer hover:scale-105 font-bold"
      >Jugar</button
    >
  </div>
</div>
