<div id="board" class="min-h-80 min-w-80">
  <div
    id="contenedor-jugar"
    class="absolute top-0 rounded-2xl w-full h-full z-40 flex justify-center items-center"
  >
    <button
      id="jugar"
      class="px-8 rounded-2xl py-2 bg-primary text-white text-xl font-bold"
      >Jugar</button
    >
  </div>
</div>
