<div
  class="bg-gray-bg p-3 h-[330px] flex flex-col justify-between sm:min-h-80 relative rounded-2xl text-white"
>
  <div>
    <h3 class="text-secondary text-xl font-bold text-left mb-2">Como Jugar</h3>
    <p class="text-gray">
      Puedes mover las fichas en las cuatro direcciones (arriba, abajo,
      izquierda y derecha) utilizando las flechas del teclado.
    </p>
    <p class="text-gray mt-3">
      El objetivo del juego es combinar las fichas numeradas hasta alcanzar el
      número 2048.
    </p>
  </div>
  <button id="close" class="sin-jugar rounded-2xl"> Dejar de jugar </button>
</div>
