<div
  id="header"
  class="flex justify-between items-center w-full gap-3 p-3 rounded-md bg-surface  border border-[#fff1]"
>
  <div class="container-score flex flex-row gap-2 font-bold">
    <div
      class="bg-surface  text-white/90 p-2 rounded-2xl flex items-center justify-center gap-1"
    >
      <h3 class="text-primary">SCORE</h3>
      <span id="score">0</span>
    </div>
    <div
      class="bg-surface  text-white/90 p-2 rounded-2xl flex justify-center items-center gap-1"
    >
      <h3 class="text-primary">BEST</h3>
      <span id="best-score">0</span>
    </div>
  </div>

  <button
    id="newgame"
    class="rounded-2xl cursor-pointer hover:scale-105 bg-secondary p-2 text-sm font-bold text-background filter grayscale pointer-events-none"
    >Nuevo juego</button
  >
</div>

<!--
 <div class="newgame flex flex-col items-between">
    <div
      class="hidden sm:grid container-buttons grid-cols-3 grid-rows-2 place-content-center gap-y-2"
    >
      <div></div>
      <ButtonRow id="row-up" className="-rotate-90 m-auto" />
      <div></div>
      <ButtonRow id="row-left" className="rotate-180 ml-auto" />
      <ButtonRow id="row-bottom" className="rotate-90 m-auto" />
      <ButtonRow id="row-right" className="mr-auto" />
    </div>
  </div>
-->
