---
import CardProject from "./CardProject.astro";
import Game2048 from "./Game2048.astro";
import AnalogicClock from "./AnalogicClock.astro";
import Sand from "./Sand.astro";
---

<div class="flex flex-col gap-6">
  <div class="flex flex-col items-center gap-20">
    <CardProject
      title="2048"
      urlDemo="https://2048-juanpenalba.vercel.app"
      urlGithub="https://github.com/JuanPE44/2048"
    >
      <Game2048 />
    </CardProject>
    <CardProject
      title="Reloj analogico"
      urlDemo="https://analogclockjuanpa.vercel.app"
      urlGithub="https://github.com/JuanPE44/analog-clock"
    >
      <AnalogicClock />
    </CardProject>
    <CardProject title="Sand" urlDemo="https://sand-rouge.vercel.app/" urlGithub="https://github.com/JuanPE44/sand">
      <div class="flex flex-col text-gray items-center">
        <h4 class="text-foreground mb-2 italic">Hace click en el tablero</h4>
        <Sand />
      </div>
    </CardProject>
  </div>
  <!--
    <a
      href=""
      class="py-2 px-4 relative text-white/90 text-center border border-white/90 font-bold rounded-2xl"
      >Ver proyectos
    </a>
   -->
</div>
<style>
  .text-gray {
  background: linear-gradient(89.81deg, #fff, #aaa, #999, #aaa, #fff);
  fill: linear-gradient(89.81deg, #fff, #aaa, #999, #aaa, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-size: 300%;
  animation: gradientText 5s ease alternate-reverse infinite;
}
@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

</style>