---
import CardProject from "./CardProject.astro";
import Game2048 from "./Game2048.astro";
import AnalogicClock from "./AnalogicClock.astro";
import Sand from "./Sand.astro";
---

<div class="flex flex-col gap-6">
  <div class="flex flex-col items-center gap-20">
    <CardProject
      title="2048"
      urlDemo="ada"
      urlGithub="https://github.com/JuanPE44/2048"
    >
      <Game2048 />
    </CardProject>
    <CardProject
      title="Relog analogico"
      urlDemo="ada"
      urlGithub="https://github.com/JuanPE44/analog-clock"
    >
      <AnalogicClock />
    </CardProject>
    <!--
      <CardProject title="Simulador arena" urlDemo="ada" urlGithub="ada">
        <Sand />
      </CardProject>
    -->
  </div>
  <a
    href=""
    class="py-2 px-4 relative text-white text-center border border-white font-bold rounded-2xl"
    >Ver proyectos
  </a>
</div>
