---
interface Props {
  text: string;
  className?: string;
}
const { text, className = "mb-20" } = Astro.props;
---

<h2
  class={`text-white/90 text-2xl sm:text-3xl font-bold flex gap-2 items-center w-full justify-center  ${className}`}
>
  <div class="border-[1px] border-primary rounded-full p-1">
    <slot />
  </div>
  <span>{text}</span>
</h2>
